body {
  background-color: lightblue;
  text-align: center;
}

h2 {

}

.topimg {

}

.picturelistparent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.picturelistchild{
  display: flex;
  width: auto;
  height: 200px;
  margin: 10px;
  text-align: left;
}

.liststyle {
  font-size: 2em;
}

#containerOne{
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.block{
  height: 50px;
}

.pictureTestimonials{
  width: 25%;
  height: auto;
}

.textTestimonials{
  width: 25%;
  height: auto;
  padding-right: 10px;
}

.signatur {
  text-align: right;
}



@media screen and (min-width:680px) {
  h2{
    padding-top: 150px;
    font-size: 200%;
  }
  }


@media screen and (max-width:680px) {
  .topimg{
    width: 100%;
    height:auto;
  }
  .picturelistparent{
    display: inline-block;
  }
  #containerOne{
    flex-wrap:wrap;
    height: 100px;
  }
  .pictureTestimonials{
    width: 100%;
  }
  .textTestimonials {
    width: 100%;
    padding-top: 10px;
  }
  }
