body {
  background-color: lightblue;
  text-align: center;
}

.topimg {

}

.picturelistparent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.picturelistchild{
  display: flex;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: left;
}

.liststyle {
  font-size: 2em;
}
#containerOne{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.block{
  height: 50px;
}

.pictureOne{
  width: 25%;
  background-color: red;
  order: 1;
}

.textPictureOne{
  width: 25%;
  background-color: green;
  order: 2;
}

.pictureTwo{
  width: 25%;
  background-color: yellow;
  order: 3;
}

.textPictureTwo{
  width: 25%;
  background-color: blue;
  order: 4;
}







@media screen and (max-width:680px) {
  .topimg{
    width: 100%;
    height:auto;
  }
  .picturelistparent{
    display: inline-block;
  }
  #containerOne{
  flex-wrap:wrap;
  height: 100px;
  }
  .pictureOne{
  width: 100%;
  }
  .textPictureOne {
  width: 100%;
  order: 2;
  }
  .pictureTwo {
  width: 100%;
  order: 3;
  }
  .textPictureTwo{
  width:100%;
  order:4;
  }
  }
